In [5]:
from knn_impute import knn_impute

In [6]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('titanic.csv')

In [7]:
embarked = knn_impute(target=df['Embarked'], attributes=df.drop(['Embarked', 'PassengerId'], 1),
                                    aggregation_method="mode", k_neighbors=10, numeric_distance='euclidean',
                                    categorical_distance='hamming', missing_neighbors_threshold=0.8)

In [8]:
embarked.isna().sum()

Embarked    0
dtype: int64

In [11]:
df = pd.read_csv('loans.csv')
df = df.iloc[:, 1:]

In [29]:
saving_acc = knn_impute(target=df['Saving accounts'], attributes=df.drop(['Checking account', 'Saving accounts'], 1),
                          aggregation_method="mode", k_neighbors=10, numeric_distance='euclidean',
                          categorical_distance='hamming')

In [30]:
saving_acc

    Saving accounts
0            little
1            little
2            little
3            little
4            little
..              ...
995          little
996          little
997          little
998          little
999        moderate

[1000 rows x 1 columns]

In [32]:
saving_acc.isna().sum()

Saving accounts    0
dtype: int64